<!DOCTYPE html>
<html lang="pt-br" ng-app="appOrderSystem">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>Order System</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js" type="text/javascript"></script>
		<script src="./js/app.js"></script>
	</head>
	<body ng-controller="indexController">
		<div class="container mt-5">
			<h3 class="bg-secondary text-white shadow rounded p-2">Listagem de Produtos</h3>
			<div class="justify-content-center shadow rounded p-4 pt-5">
				<table class="table table-striped">
					<thead>
					    <tr>
					        <th>Nome</th>
					        <th>Preço</th>
					    </tr>
					</thead>
					<tbody ng-repeat="pro in produtos">
					    <tr>
					       	<td>{{pro.nome}}</td>
					        <td>{{pro.preco}}</td>
					    </tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>